html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000e3918;
  scroll-behavior: smooth;
}
.slide {
  width: 100%;
  left: 0%;
  /* top: none; */
  position: relative;
  z-index: 10;
  padding: 8em 1em 0;
  background-size: cover;
  /* background-position: 50% 50%; */
  transition: left 0s .75s;
  background-color: green;
  display: flex;
  border-radius: 10px;
  /* background-color: #000e390e; */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  border-bottom: 1px solid rgba(151, 151, 151, 0.59);
  /* box-shadow:-10px 1px 50px black; */
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}
.links {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 500px;
  /* background-color: pink; */

}
.links a {
  margin-left: auto;
  text-decoration: none;
  transition-duration: 300ms;
  color: #000E39;
 

}
.links a:hover {
  margin-left: auto;
  text-decoration: none;
  color: #000e399d;
  transition-duration: 300ms;
}

.intro-text {
  width: 30%;
  line-height: 1.5rem;
  margin-left: 2%;
}
.intro-text {
  width: 30%;
  line-height: 1.5rem;
  margin-left: 2%;
}
.intro-text h1{
  font-size: 3rem;
  color: #000E39;
  font-weight: bold;
  line-height: 2.5rem;
}
h1 {
  color: #000E39

}
.intro-details {
  line-height: 1.5rem;
  margin-left: 2%;
  font-size: 1.1rem;
  color: #000e39a4;
  border-top: 1px solid #000e3941;
  /* border-left: 1px solid #000E39; */
  padding-top: 1%;

}
.myimg {
  height: 50vh;
  border-radius: 5px;
  box-shadow:-10px 4px 40px -10px #000E39;

}
.intro {
  display: flex;
  flex-direction: row;
  margin: 5% auto;
  /* background-color: green; */
  align-items: center;
  justify-content: center;
  padding: 2%;
  width: auto;

}
.hireBtn {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;

}
.hireBtn {
  border: 1px solid #000E39;
  background-color: transparent;
  border-radius: 2px;
  font-weight: bold;
  transition-duration: 300ms;

}
.hireBtn:hover {
  border: 1px solid #000E39;
  background-color: #000E39;
  color: white;
  border-radius: 2px;
  transition-duration: 300ms;
}
.social-section {
  width: 30%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #000e3948;
  padding: 2%;
  margin-bottom: 3%;
  margin-top: 3%;
  border-radius: 5px;
}
.social-image {
  width: 12%;
  padding: 2%;
}

.footer-section {
  width: 100%;
  border-top: 1px solid #000e3932;
  display: flex;
  flex-direction: row;
}
.right-footer {
  margin-left: auto;
  display: flex;
  /* background-color: green; */
  justify-content: center;
  align-items: center;
  margin-right: 1%;
  font-weight: bold;
}
.left-footer {
  margin: 2%;
}
.left-footer a {
  padding-left: 10%;
  text-decoration: none;
  color: #000E39;
}
.section-header {
  margin-top: 1%;
  width: 100%;
  border-top: 1px solid #000e3947;
  border-bottom: 1px solid #000e3947;
  background-color: #000e3911;
  padding-top: 2%;
  padding-bottom: 2%;
  

}
.section-header h1{
  margin-left: 20%;
  /* background-color: green; */
  font-size: 2.5rem;
  font-weight: bold;
}
.Portfolio-section {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 5%;
  /* background-color: green; */

}
.project-section {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
  /* background-color: green; */
}
.project-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow:-10px 4px 40px -13px #000E39;
  border-radius: 5px;

}
.moreBtn {
  margin: 1%;
  padding: 5px;
  border-radius: 5px;
  margin-right: 4%;
}
.extr {
  width: 100%;
}
.codeBtn {
  padding: 5px;
  border-radius: 5px;

}
.about {
  background-color: rgba(151, 151, 151, 0.59);
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  border-radius: 3px;

}
.about h2 {
  width: 100%;
  font-weight: bold;
  padding: 1%;
  color: #000e399c;
}
.aboutText {
  background-color: rgba(151, 151, 151, 0.397);
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1%;
  padding-left: 2.5%;
  /* line-height: 10px; */
  border-bottom-left-radius: 30px;

}
.aboutText span {
  margin-left: 2%;
  font-weight: bold;
  color: #000e39d5;
  border-left: 1px solid rgba(151, 151, 151, 0.59);
  padding-left: 2%;
}
.top-nav h1 {
  width: 300px;
  font-weight: bold;
}


/* ____________________________________________ */



@media only screen and (max-width: 632px) {
  /* .top-nav h1 {
    color: pink;
  } */
  .social-section {
    width: 50%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #000e3948;
    padding: 2%;
    margin-bottom: 3%;
    margin-top: 3%;
    border-radius: 5px;
  }
  .social-image {
    width: 20%;
    padding: 2%;
  }
  .top-nav {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .links {
    max-width: 100%;
    /* background-color: red; */
    /* display: none; */
    padding-right: -20%;
    margin-left: 0%;
    margin-right: 0%;
    overflow: hidden;

    /* display: inline-block; */
  /* flex-direction: row; */
  
  }
  .links a{
    margin-left: 2%;
    font-size: 0.7rem;
  }
  .intro {
    flex-direction: column;
  }
  .intro-text h1{
    width: 90%;
  }
  .intro-details {
    width: 90%;
  }
  .intro-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
    padding-bottom: 2%;
    border-radius: 5px;

  }
  .left-footer {
    font-size:0.8rem;
    /* background-color: green; */
    padding-left: 0%;
  }
  .left-footer a{
    font-size:0.8rem;
    padding-left: 2%;
  }
  .right-footer {
    font-size:0.8rem;
  }
  .about {
    min-width: 100%;
    font-size: 0.8rem;
    /* background-color: green; */
  }
  .footer-section {
    flex-direction: column;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (max-width: 600px) {
  h1 {
    color: red;
    font-size: 1.5em;
    background-color: green;
    
  }
  .myimg {
    height: 30vh;
    border-radius: 5px;
    box-shadow:-10px 4px 40px -10px #000E39;
  
  }
  .intro-text {
    width: 100%;
  }
} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 905px) {
  h1 {
    /* color: blue; */
    /* background-color: green; */
    font-size: 1.5em;

    
  }
 
  .myimg {
    height: 30vh;
    border-radius: 5px;
    box-shadow:-10px 4px 40px -10px #000E39;
  
  }
  .intro-text {
    width: 100%;
  }
  .intro-text h1{
    font-size: 1.5rem;
  }
  .intro-details {
    font-size: 0.9rem;
  }
  .top-nav {
    width: 90%;
  }
  .top-nav h1{
    width: 200px;
  }
  .links {
    font-size: 0.8rem;
    width: 400px;
  }
  .about {
    width: 80%;
  }
  .Portfolio-section {
    width: 100%;
    height: 300vh;
    margin: 0% 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
    /* background-color: green; */
  
  }
  .project-section {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    /* background-color: green; */
  }
}
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
  h1 {
    color: red;
  }
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
h1 {
  color: red;
} */

/* } */


img {
  max-width: 100%;
}

.slider-container{
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden; 
  text-align: center;
}

.menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50px;
  margin: 0 .2em 1em;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s .75s;
}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left .65s ease-out;
}

.slide-1 {
  background-image: url("https://source.unsplash.com/t7YycgAoVSw/1600x900");
}
.slide-2 {
  background-image: url("https://source.unsplash.com/11H1SSVcIxc/1600x900");
}
.slide-3 {
  background-image: url("https://source.unsplash.com/OlZ1nWLEEgM/1600x900");
}
/* .hy{
  text-decoration: none;
  padding: 10px;
  color: Black;
} */