html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000e3918;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  border-bottom: 1px solid rgba(151, 151, 151, 0.59);
  /* box-shadow:-10px 1px 50px black; */
}
.links {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
}
.links a {
  margin-left: auto;
  text-decoration: none;
  transition-duration: 300ms;
  color: #000E39;
 

}
.links a:hover {
  margin-left: auto;
  text-decoration: none;
  color: #000e399d;
  transition-duration: 300ms;
}

.intro-text {
  width: 30%;
  line-height: 1.5rem;
  margin-left: 2%;
}
.intro-text {
  width: 30%;
  line-height: 1.5rem;
  margin-left: 2%;
}
.intro-text h1{
  font-size: 3rem;
  color: #000E39
}
h1 {
  color: #000E39

}
.intro-details {
  line-height: 1.5rem;
  margin-left: 2%;
  font-size: 1.1rem;
  color: #000e39a4;
  border-top: 1px solid #000e3941;
  /* border-left: 1px solid #000E39; */
  padding-top: 1%;

}
.myimg {
  height: 50vh;
  border-radius: 5px;
  box-shadow:-10px 4px 40px -10px #000E39;

}
.intro {
  display: flex;
  flex-direction: row;
  margin: 5% auto;
  /* background-color: green; */
  align-items: center;
  justify-content: center;
  padding: 2%;
  width: auto;

}
.hireBtn {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;

}
.hireBtn {
  border: 1px solid #000E39;
  background-color: transparent;
  border-radius: 2px;
  font-weight: bold;
  transition-duration: 300ms;

}
.hireBtn:hover {
  border: 1px solid #000E39;
  background-color: #000E39;
  color: white;
  border-radius: 2px;
  transition-duration: 300ms;
}
.social-section {
  width: 30%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #000e3948;
  padding: 2%;
  margin-bottom: 3%;
  margin-top: 3%;
  border-radius: 5px;
}
.social-image {
  width: 12%;
  padding: 2%;
}

.footer-section {
  width: 100%;
  border-top: 1px solid #000e3932;
  display: flex;
  flex-direction: row;
}
.right-footer {
  margin-left: auto;
  display: flex;
  /* background-color: green; */
  justify-content: center;
  align-items: center;
  margin-right: 1%;
  font-weight: bold;
}
.left-footer {
  margin: 2%;
}
.left-footer a {
  padding-left: 10%;
  text-decoration: none;
  color: #000E39;
}
.section-header {
  margin-top: -3%;
  width: 100%;
  border-top: 1px solid #000e3947;
  border-bottom: 1px solid #000e3947;
  background-color: #000e3911;

}
.section-header h1{
  margin-left: 20%;
  /* background-color: green; */
  font-size: 2.5rem;
}
.Portfolio-section {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
}
.project-section {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
}
.project-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow:-10px 4px 40px -13px #000E39;
  border-radius: 5px;

}
.moreBtn {
  margin: 1%;
  padding: 5px;
}
.extr {
  width: 100%;
}
.codeBtn {
  padding: 5px;
}